[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/srv/venv/bin/uwsgi -i /srv/2022-2-SCS4031-4MEN/.config/uwsgi/mysite.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
